    @font-face {
        font-family: 'mono';
        font-style: normal;
        src: url(/Fonts/monoregular.otf) format('opentype');
    }
    @font-face {
        font-family: 'aeonik';
        font-style: normal;
        src: url(/Fonts/AeonikRegular.otf) format('opentype');
    }
        body{
            overflow-x:hidden ;
        }